schema/ceisdk-0.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://github.com/macomfan/cei"
           xmlns="https://github.com/macomfan/cei"
           elementFormDefault="qualified"
           version="0.0.1">
    <xs:element name="sdk" type="xSDK"/>

    <!--======== SDK Start ========-->
    <xs:complexType name="xSDK">
        <xs:all>
            <xs:element name="definition" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="document"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="models" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="model" type="xModel"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="procedures" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="function" type="xFunction" maxOccurs="unbounded"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="clients" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="restful" type="xRestful"/>
                        <xs:element name="websocket" type="xWebSocket"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="name" use="required" type="nameType"/>
    </xs:complexType>
    <xs:complexType name="xSDKDef">
        <xs:attribute name="document"/>
    </xs:complexType>
    <!--======== SDK End ========-->


    <!--======== Model Start ========-->
    <xs:complexType name="xModel">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="string" type="xType"/>
            <xs:element name="int" type="xType"/>
            <xs:element name="decimal" type="xType"/>
            <xs:element name="boolean" type="xType"/>
            <xs:element name="object" type="xObject"/>
            <xs:element name="object_array" type="xObjectArray"/>
            <xs:element name="string_array" type="xType"/>
            <xs:element name="int_array" type="xType"/>
            <xs:element name="decimal_array" type="xType"/>
            <xs:element name="boolean_array" type="xType"/>
        </xs:choice>
        <xs:attribute name="name" use="required" type="nameType"/>
    </xs:complexType>

    <xs:complexType name="xType">
        <xs:attribute name="name" use="required" type="nameType"/>
    </xs:complexType>
    <xs:complexType name="xObject">
        <xs:attribute name="name" use="required" type="nameType"/>
        <xs:attribute name="model" use="required" type="nameType"/>
    </xs:complexType>
    <xs:complexType name="xObjectArray">
        <xs:attribute name="name" use="required" type="nameType"/>
        <xs:attribute name="model" use="required" type="nameType"/>
    </xs:complexType>
    <!--======== Model End ========-->


    <!--======== Restful Start ========-->
    <xs:complexType name="xRestful">
        <xs:all>
            <xs:element name="connection" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="url" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="interfaces" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="interface">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="inputs" minOccurs="0" type="xInputs"/>
                                    <xs:element name="request" type="xRequest"/>
                                    <xs:element name="response" type="xResponse"/>
                                </xs:sequence>
                                <xs:attribute name="name" use="required" type="nameType"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="name" use="required" type="nameType"/>
    </xs:complexType>

    <xs:complexType name="xRequest">
        <xs:sequence>
            <xs:element name="pre_processor" type="xProcedure" minOccurs="0"/>
            <xs:element name="query_strings" type="xQueryStrings" minOccurs="0"/>
            <xs:element name="post_body" minOccurs="0" type="xPostBody"/>
            <xs:element name="authentication" minOccurs="0" type="xAuthentication"/>
        </xs:sequence>
        <xs:attribute name="method" use="required" type="httpMethodType"/>
        <xs:attribute name="target" use="required" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="xResponse">
        <xs:complexContent>
            <xs:extension base="xProcedure">
                <xs:attribute name="name" type="nameType"/>
                <xs:attribute name="result" type="variableType"/>
                <xs:attribute name="type" type="ResponseType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="httpMethodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="get"/>
            <xs:enumeration value="post"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="put"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="xQueryStrings">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="query" type="xQuery"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="xQuery">
        <xs:attribute name="key" use="required" type="nameType"/>
        <xs:attribute name="value" use="required" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="xPostBody">
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="xAuthentication">
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="arguments" type="xs:string"/>
    </xs:complexType>
    <!--======== Restful End ========-->


    <!--======== Basic Define Start =========-->
    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]+[A-Za-z0-9_]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="variableType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{[A-Za-z]+[A-Za-z0-9_]*\}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--======== Basic Define End =========-->


    <!--======== JSON Start ========-->
    <xs:complexType name="xJsonType">
        <xs:attribute name="key" type="xs:string"/>
        <xs:attribute name="copy" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:group name="CommonJsonSubItem">
        <xs:choice>
            <xs:element name="json_value" type="xJsonType"/>
            <xs:element name="json_string" type="xJsonType"/>
            <xs:element name="json_boolean" type="xJsonType"/>
            <xs:element name="json_decimal" type="xJsonType"/>
            <xs:element name="json_object_for_each" type="xJsonTypeWithModel"/>
            <xs:element name="json_object" type="xJsonTypeWithModel"/>
            <xs:element name="json_string_array" type="xJsonType"/>
            <xs:element name="json_int_array" type="xJsonType"/>
            <xs:element name="json_boolean_array" type="xJsonType"/>
            <xs:element name="json_decimal_array" type="xJsonType"/>
            <xs:element name="json_checker_equal" type="xJsonCheckerItem"/>
            <xs:element name="json_checker_contain_key" type="xJsonCheckerItem"/>
            <xs:element name="json_checker_not_equal" type="xJsonCheckerItem"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="xJsonWithSubItems">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:group ref="CommonJsonSubItem"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="xJsonParser">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:group ref="CommonJsonSubItem"/>
            <xs:element name="json_checker" type="xJsonWithSubItems"/>
        </xs:choice>
        <xs:attribute name="model" type="nameType" use="required"/>
        <xs:attribute name="name" type="nameType"/>
    </xs:complexType>

    <xs:complexType name="xJsonTypeWithModel">
        <xs:complexContent>
            <xs:extension base="xJsonWithSubItems">
                <xs:attribute name="key" type="xs:string"/>
                <xs:attribute name="copy" type="xs:string"/>
                <xs:attribute name="value" type="xs:string"/>
                <xs:attribute name="model" type="nameType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xJsonBuilder">
        <xs:complexContent>
            <xs:extension base="xJsonWithSubItems">
                <xs:attribute name="name" type="nameType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xJsonCheckerItem">
        <xs:attribute name="key"/>
        <xs:attribute name="value"/>
    </xs:complexType>

    <xs:complexType name="xJsonBuilderItem">
        <xs:attribute name="key" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="copy" type="xs:string"/>
    </xs:complexType>
    <!--======== JSON End ========-->


    <!--======== Function Start ========-->
    <xs:complexType name="xInputs">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="string" type="xType"/>
            <xs:element name="int" type="xType"/>
            <xs:element name="decimal" type="xType"/>
            <xs:element name="boolean" type="xType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="xProcedure">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:group ref="CommonProcessor"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="xExtendInput">
        <xs:complexContent>
            <xs:extension base="xInputs">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="restful_request" type="xType"/>
                    <xs:element name="restful_options" type="xType"/>
                    <xs:element name="restful_response" type="xType"/>
                    <xs:element name="websocket_message" type="xType"/>
                    <xs:element name="websocket_request" type="xType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xFunction">
        <xs:sequence>
            <xs:element name="inputs" minOccurs="0" type="xExtendInput"/>
            <xs:element name="implementation" type="xProcedure"/>
        </xs:sequence>
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="return" type="variableType"/>
    </xs:complexType>
    <!--======== Function End =========-->


    <!--======== Common Processor Start =========-->
    <xs:group name="CommonProcessor">
        <xs:choice>
            <xs:element name="json_parser" type="xJsonParser"/>
            <xs:element name="json_builder" type="xJsonBuilder"/>
            <xs:element name="get_now" type="xGetNow"/>
            <xs:element name="string_builder" type="xStringBuilder"/>
            <xs:element name="hmacsha256" type="xHmacsha256"/>
            <xs:element name="base64" type="xBase64"/>
            <xs:element name="get_now" type="xGetNow"/>
            <xs:element name="url_escape" type="xURLEscape"/>
            <xs:element name="string_builder" type="xStringBuilder"/>
            <xs:element name="add_query_string" type="xAddQueryString"/>
            <xs:element name="combine_query_string" type="xCombineQueryString"/>
            <xs:element name="get_request_info" type="xGetRequestInfo"/>
            <xs:element name="invoke" type="xInvoke"/>
        </xs:choice>
    </xs:group>


    <xs:complexType name="xGetNow">
        <xs:attribute name="name" type="nameType"/>
        <xs:attribute name="format" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="xAddQueryString">
        <xs:attribute name="input" type="variableType" use="required"/>
        <xs:attribute name="key" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="xCombineQueryString">
        <xs:attribute name="input" type="variableType" use="required"/>
        <xs:attribute name="name" type="nameType"/>
        <xs:attribute name="sort"/>
        <xs:attribute name="separator"/>
    </xs:complexType>
    <xs:complexType name="xGetRequestInfo">
        <xs:attribute name="input" type="variableType" use="required"/>
        <xs:attribute name="name" type="nameType"/>
        <xs:attribute name="info"/>
        <xs:attribute name="convert"/>
    </xs:complexType>
    <xs:complexType name="xHmacsha256">
        <xs:attribute name="name" type="nameType"/>
        <xs:attribute name="input"/>
        <xs:attribute name="key"/>
    </xs:complexType>
    <xs:complexType name="xBase64">
        <xs:attribute name="name" type="nameType"/>
        <xs:attribute name="input"/>
    </xs:complexType>
    <xs:complexType name="xStringBuilder">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="add_string_item" type="xAddStringItem"/>
            <xs:element name="combine_string_items" type="xCombineStringItems"/>
        </xs:choice>
        <xs:attribute name="name" type="nameType"/>
    </xs:complexType>
    <xs:complexType name="xAddStringItem">
        <xs:attribute name="input"/>
    </xs:complexType>
    <xs:complexType name="xCombineStringItems">
        <xs:attribute name="separator"/>
    </xs:complexType>
    <xs:complexType name="xInvoke">
        <xs:attribute name="function" type="nameType" use="required"/>
        <xs:attribute name="return" type="variableType"/>
        <xs:attribute name="arguments" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="xURLEscape">
        <xs:attribute name="name" type="nameType"/>
        <xs:attribute name="input" type="variableType"/>
    </xs:complexType>
    <!--======== Common Processor End =========-->


    <!--======== WebSocket Start =========-->
    <xs:complexType name="xWebSocket">
        <xs:all>
            <xs:element name="connection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="open" type="xWSOpen"/>
                        <xs:element name="close" type="xWSClose" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="url" type="xs:string"/>
                    <xs:attribute name="timeout_s" type="xs:integer"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="events" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="on_message">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="trigger" type="xWSTrigger"/>
                                    <xs:element name="handler" type="xWSHandler"/>
                                </xs:sequence>
                                <xs:attribute name="name" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="interfaces" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="interface">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="inputs" minOccurs="0" type="xInputs"/>
                                    <xs:element name="message" minOccurs="0" type="xWSMessage"/>
                                    <xs:element name="event" type="xWSUserEvent" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="name" use="required" type="nameType"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="name" use="required" type="nameType"/>
    </xs:complexType>

    <xs:complexType name="xWSOpen">
        <xs:sequence>
            <xs:element name="inputs" type="xInputs" minOccurs="0"/>
            <xs:element name="connect" type="xWSConnect"/>
            <xs:element name="on_connect" minOccurs="0" type="xWSSystemCallback"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="xWSClose">
        <xs:sequence>
            <xs:element name="on_close" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="callback" type="nameType"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xWSHandler">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="CommonProcessor"/>
            <xs:element name="send" type="xSend"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="xWSTrigger">
        <xs:choice>
            <xs:element name="json_checker" type="xJsonWithSubItems"/>
        </xs:choice>
        <xs:attribute name="timeout_s" type="xs:integer"/>
        <xs:attribute name="interval_s" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="xWSUserEvent">
        <xs:sequence>
            <xs:element name="trigger" type="xWSTrigger"/>
            <xs:element name="handler" type="xWSHandler"/>
        </xs:sequence>
        <xs:attribute name="callback" use="required" type="nameType"/>
        <xs:attribute name="persistent" use="required" type="xs:boolean"/>
    </xs:complexType>
    <xs:simpleType name="WebSocketCallbackType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="disposable"/>
            <xs:enumeration value="persistent"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="WebSocketSendType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="binary"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResponseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="binary"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="xWSConnect">
        <xs:sequence>
            <xs:element name="pre_processor" type="xProcedure" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="target" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="xWSSystemCallback">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="CommonProcessor"/>
            <xs:element name="send" type="xSend"/>
            <xs:element name="invoke_callback"/>
        </xs:choice>
        <xs:attribute name="callback" type="nameType"/>
    </xs:complexType>
    <xs:complexType name="xSend">
        <xs:attribute name="connection" type="variableType"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <!--======== WebSocket End =========-->

    <xs:complexType name="xWSMessage">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="CommonProcessor"/>
            <xs:element name="send" type="xSend"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>